
<html>
<head>
  <title>Restablecer Contraseña</title>
</head>
<body>
  <h1>Restablecer Contraseña</h1>
  <form method="POST" action="/reset-password">
    <input type="password" name="newPassword" placeholder="Nueva Contraseña" required>
    <input type="password" name="confirmPassword" placeholder="Confirmar Contraseña" required>
    <input type="hidden" name="token" value="{{token}}">
    <button type="submit">Guardar Contraseña</button>
  </form>
</body>
</html>
